.register {
    height: calc(100vh - 50px);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: linear-gradient(
        rgba(129, 99, 99, 0.5),
        rgba(129, 99, 99, 0.5)),
        url("https://cdn.pixabay.com/photo/2015/10/02/15/07/diary-968603_640.jpg");
    background-size: cover;
}

.registerTitle {
    font-size: 50px;
}

.registerForm {
    margin-top: 20px;
    display: flex;
    flex-direction: column;

}

.registerForm > label {
    margin: 10px 0;
}

.registerInput {
    padding: 10px;
    background-color: white ;
    border: none;
}

.registerButton {
    margin-top: 20px;
    cursor: pointer;
    background-color: teal;
    border: none;
    color: white;
    border-radius: 10px;
    padding: 10px;
}

.registerLoginButton {
    position: absolute;
    top: 60px;
    right: 20px;
    background-color: lightcoral;
    cursor: pointer;
    border: none;
    padding: 10px;
    border-radius: 10%;
    color: white;
}