.profil-wrapper {
    margin-top: 50px;
    font-family: 'Lora', serif;
}

.title {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-bottom: 50px;
    margin-left: 50px;
}

.pic-profil {
    width: 60px;
    border-radius: 50%;
    object-fit: cover;
    margin-left: 50px;
}


.deleteUser {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: auto;
    margin-right: 50px;
}

.deleteUser > i {
    color: crimson;
    cursor: pointer;
}

.deletePopup {
    display: flex;
    flex-direction: column;
}

.popupTitle {
    text-align: center;
    margin: 0 0 -30px 50px;
    padding: 0;

}

.deleteButtons {
    display: flex;
    flex-direction: row;
}

.deletePopup > .btn {
    font-size: 12px;
    border-radius: 10px;
    width:30%;
 }

.contenu {
    /* display: block;
    width: 30vw;
    margin-bottom: 20px;
     margin-top: 5px;
    overflow: hidden;
     text-overflow: ellipsis;
     display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;  */

    height:50px;
    width: 45vw;
    /* margin-right: -200px; */
}

.article {
    margin-top: 30px;
}

.profile_new_article_input {
    color: teal;
    margin-left: 10px;
    cursor: pointer;
}

.input-group, .btn {
    margin-left: 50px;
}

.btn {
    margin-top: 50px;
}

.articlePictureList {
     display: flex;
     margin-right: -30px;
    /* border: none;  */
}

.singlePostImgProfil {
    height: 50px;
    width: -webkit-fill-available;
    /* width: 100%; */

}

.fileInputArticle {
   /* left: 45px;
    bottom: 40px; */
    color: coral;
    background-color: cornsilk;
    margin-left: -225%;
    margin-top: 55%;
}

.singlePostIconPseudo {
    color: teal;
}

.singlePostIconDel, .singlePostIconEdit, .singlePostIconSee {
    cursor: pointer;
}

.singlePostIconDel {
    color: red;
    margin-right: 2px;
}

.singlePostIconEdit {
    color: teal;
    margin-right: 3px;
}

h1 {
    font-weight: bold;
    font-size: large;    
}

.edit-title {
    margin: 50px 0 50px 100px;
}



li {
    list-style: none;
    display: flex;
    flex-direction: row;
    align-items: center;
}

p {
    margin-left: 10px;
}

h1 > p {
    font-weight:lighter;
    font-size: medium;
    margin-bottom: -10px;
}

td, td {
    border-bottom: none;
}