.home {
    display: flex;
}

.paginate-list {
    display: flex;
    flex-direction: column;
    width: 75vw;
}

.pagination {
    display: flex;
    flex-direction: row;
    list-style: none;
    align-items: center;
    justify-content: center;
}

.pagination > li {
    padding: 0 15px 20px 15px;
}