.sidebar {
    flex: 3;
    margin: 20px;
    padding-bottom: 30px;
    background-color: rgba(198, 244, 255, 0.233);
    border-radius: 10px;
    display: flex;
    flex-direction: column;
}

.sidebarItem {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 15px;
}

.sidebarTitle {
    margin: 10px;
    padding : 5px;
    width: 80%;
    border-top: 1px solid #a7a4a4;
    border-bottom: 1px solid #a7a4a4;
    font-family: 'Varela Round', sans-serif;
    font-size:  12px;
    color: #222;
    font-weight: 600;
    line-height: 30px;
    text-align: center;
}

.sidebarItem > p {
    padding: 30px;
}

.sidebarList {
    list-style: none;
    margin-bottom: 30px;
    display: contents;
}

.sidebarListItem {
    display: inline-block;
    width: 50px;
    margin: 15px 50px 0 0;
    cursor: pointer;
}

.sidebarSocial {
    margin-top: 15px;
    width: 250px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.sidebarIcon {
    font-size: 16px;
    margin-left: 10px;
    cursor: pointer;
}