.write {
    padding-top: 50px;
}

.writeImg {
    margin-left: 150px;
    width: 70vw;
    height: 250px;
    border-radius: 10px;
    object-fit: cover;
}

.writeForm {
    position: relative;

}

.writeFormGroup {
    margin-left: 150px;
    display: flex;
    align-items: center;
}

.writeIcon {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    border: 1px solid;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 20px;
    color: gray;
    cursor: pointer;
}

.writeInput {
    font-size: 30px;
    border: none;
    padding: 20px;
    width: 30vw;
}

.writeInput:focus {
    outline: none;
}

.writeText {
    font-size: 20px;
    height:100vh ;
}

.writeSubmit {
    position: absolute;
    top:20px;
    right: 50px;
    color: white;
    background-color: teal;
    padding: 10px;
    border: none;
    border-radius: 10%;
    cursor: pointer;
    font-size: 16px;
}

.categorie-label, .categorie-form {
    font-family: 'Varela';
}

.error {
    position: fixed;
    background-color: #fce4e4;
    border: 1px solid #fcc2c3;
    float: left;
    padding: 20px 30px;
    color: #cc0033;
  font-family: Helvetica, Arial, sans-serif;
  font-size: 13px;
  font-weight: bold;
  line-height: 20px;
  text-shadow: 1px 1px rgba(250,250,250,.3);

}